.details-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;
}

.announcement-section {
  flex: 1; /* Allow this section to take the remaining space */
  max-width: 70%; /* Optional: you can remove this if you want it to take all available space */
}

.user-info {
  width: auto;
  max-width: 300px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height:150px;
}

.user-info h3 {
  margin-top: 0;
  font-size: 1.5em;
}

.user-info p {
  margin: 10px 0;
}

.user-info p strong {
  color: #333;
}

.announcement-list {
  list-style: none;
  padding: 0;
  min-height: 600px;
}

.announcement {
  display: block;
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.slider-container {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
}

.announcement-details {
  margin-top: 20px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.announcement-details p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.announcement h2 {
  font-size: 20px;
  color: #333;
}

.announcement p {
  font-size: 16px;
  color: #666;
  line-height: 1.5;
}

.announcement .location {
  color: #007BFF;
}

.announcement .userId {
  color: #007BFF;
  font-weight: bold;
}

.announcement .price {
  font-weight: bold;
  color: #333;
}

.announcement .time {
  font-size: 12px;
  color: #999;
}

.announcement.hidden {
  display: none;
}

.no-underline {
  text-decoration: none;
}

.no-underline:focus,
.no-underline:active,
.no-underline:hover {
  text-decoration: none;
  outline: none;
}

