<div class="container">
  <div class="profile">
    <h2>User Profile</h2>
    <div class="field">
      <label>Name:</label>
      <span>{{ user?.name }}</span>
    </div>
    <div class="field">
      <label>Email:</label>
      <span>{{ user?.email }}</span>
    </div>
    <div class="field">
      <label>Number of Announcements:</label>
      <span>{{ user?.properties?.length }}</span>
    </div>
    <div class="field">
      <label>Number of Saved Announcements:</label>
      <span>{{ user?.savedAnnouncements?.length }}</span>
    </div>
    <div class="field">
      <button id="logoutButton" (click)="logout()">Logout</button>
    </div>
  </div>
</div>
