.property-type {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.property-option {
  display: none; /* Hide the default radio button */
}

.property-label {
  display: block;
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin: 5px;
  text-align: center;
  border: 2px solid transparent; /* For the rounded borders */
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.property-option:checked + .property-label {
  background-color: #007bff;
  color: white;
  border-color: #0056b3;
}

.status-selector {
  display: flex;
  justify-content: center;
  background-color: #e6f0ff;
  border-radius: 25px;
  padding: 10px;
  margin: 20px;
  box-sizing: border-box;
}

.status-option {
  display: none;
}

.status-label {
  display: block;
  padding: 10px 30px;
  margin: 0 5px;
  text-align: center;
  background-color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  user-select: none;
}

.status-option:checked + .status-label {
  box-shadow: 0 0 0 2px #007bff;
}

.status-indicator {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 2px solid #000;
  border-radius: 50%;
  vertical-align: middle;
}

.status-option:checked + .status-label .status-indicator {
  border-color: #007bff;
}

.form-group {
  margin: 10px;
  position: relative;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #007bff;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
}

.form-group textarea {
  resize: vertical;
}

.image-upload {
  border: 2px dashed #007bff;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.image-upload input[type="file"] {
  width: 70%;
  padding: 8px;
  color: #007BFF;
}

.image-upload label {
  display: inline-block;
  padding: 10px 25px;
  background-color: #007bff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
}

.image-upload span {
  display: block;
  margin-top: 10px;
  color: #007bff;
}

.image-preview {
  display: block;
  margin-top: 10px;
  max-width: 150px; /* Increase the max-width */
  max-height: 150px; /* Increase the max-height */
}

.submit-button {
  background-color: #007bff;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}
