.wrapper {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.vertical-tabs-container {
  display: flex;
  height: 100vh;
  width: 100%; /* Full width to contain tabs and content */
}

.tabs {
  flex-direction: column;
  width: 250px; /* Increased width of the tabs column */
  background-color: #f4f4f4; /* Light gray background */
  padding: 0; /* Adjusted padding */
  height: 100%; /* Full height */
}

.tab-link {
  padding: 20px 15px; /* Increased padding for larger tabs */
  border: none;
  background: none;
  text-align: center; /* Center align the text horizontally */
  width: 100%; /* Full width of the tab area */
  font-size: 18px; /* Increased font size for better visibility */
  cursor: pointer;
  color: #333; /* Darker text for better visibility */
  display: flex; /* Use flexbox for centering */
  align-items: center; /* Center the text vertically */
  justify-content: center; /* Center the text horizontally */
  position: relative; /* Needed for styling */
  z-index: 1; /* Ensure it's visually proper */
}

.tab-link.active {
  background-color: #007bff; /* Active tab color */
  color: white; /* Text color for active tab */
}

.tab-content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  height: 100vh; /* Ensures content area is full viewport height */
  border-left: 2px solid #ccc; /* Adds a separator line between tabs and content */
}
