<ul class="announcement-list" id="ads-list">
  <li *ngFor="let advertisement of user?.properties; trackBy: trackByDescription" class="announcement">

      <img [src]="advertisement.imageUrl" alt="Property Image">

      <div class="announcement-details">
        <p class="status">{{ advertisement.status }}</p>
        <p class="property-type">{{ advertisement.type }}</p>
        <h2>{{ advertisement.title }}</h2>
        <p>{{ advertisement.description }}</p>
        <p class="price">Price: {{ advertisement.price }}</p>
        <p class="location">{{ advertisement.location }}</p>
        <a [routerLink]="['/details', advertisement._id]" >
          <button>Go to details: </button>
        </a>
        <button class="delete-button" (click)="deleteProperty(advertisement._id)">Delete</button>
        <button class="update-button" [routerLink]="['/add', advertisement._id]">Update</button>
      </div>
  </li>
</ul>
